<div class="full-width full-height scrollable-flex">

  <soho-toolbar>
    <soho-toolbar-title>
      <span soho-toolbar-section-title>Soho Data Grid - Fixed Header</span>
    </soho-toolbar-title>

    <soho-toolbar-button-set>
      <button soho-button="icon" icon="process" id="validate-btn" class="btn-icon" title="Validate"></button>
      <button soho-button="icon" icon="delete" id="delete-btn" class="btn-icon" title="Delete"></button>
    </soho-toolbar-button-set>
  </soho-toolbar>

  <div #fixheaderGrid soho-datagrid *ngIf="gridOptions" [gridOptions]="gridOptions"></div>


  <button class="btn-primary hide-focus" type="submit" (click)="showPopupGrid()">Show Popup Grid</button>
  <button style="display: none;" id="showValueBtn" class="btn-primary hide-focus" type="submit" (click)="showSelectedValues()">Show Data</button>

  <div *ngIf = "dataToShow && dataToShow.length > 0">
    <h3>
      Selected values:
    </h3>
    <ul>
      <li *ngFor="let value of dataToShow">{{value.productId}}</li>
    </ul>
  </div>

  <div #dialogPlaceholder></div>
</div>
